*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: aqua;
    width: 100%;
    height: 610px;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: Arial;
    font-size: 1.3rem;
}
.button, .buttonInterior, .buttonGetStarted{
    cursor: pointer;
}
.name{
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    text-align: center;
}

.containerHeader{
    width: 33.33%;
    height: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    position: relative;
}
.filter{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.6;
}


#img1, #img2, #img3{
    height: 100%;
}

.filter:hover{
    opacity: 0;
} 
.titlePhoto{
    width: 100%;
    height: 30px;
    /* background-color: blue; */
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    color: white;
    padding-left: 15px;
}
.globalContainer{
    width: 65%;
    min-height: 500px;
    margin: 0 auto;
    font-family: arial;
}



.containerSection1{
    background-color: white;
    width: 100%;
    height: 300px;
    display: flex;
}

.containerWork{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.follows{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: end;
    padding: 10px;
}
.follows2{
    width: 50%;
    height: 50%;
    display: flex;
    padding: 10px;
}

.containerFollow{
    width: 100%;
    height: 50px;
    text-transform: uppercase;
}

.containerFollow p{
    font-size: 1.4rem;
}
.containerFollow p:nth-child(2){
    font-size: 0.9rem;
}
.containerExplore{
    width: 40%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.containerImage4{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-image: url(./img/image_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;

}

/* .containerImage4 img{
    position: absolute;
    right: 0;
    background-size: cover;
} */
.containerExplore .button{
    padding: 26px;
    min-width: 100px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.containerExplore .button:hover{
    border: solid 1px black;
    background-color: transparent;
}

.containerExplore .button .buttonTypo{
    color: black;
}

#section2{
    width: 100%;
    height: 415px;
    display: flex;
    position: relative;
}

.containerServices{
    width: 40%;
    height: 100%;
    background-color: rgb(69, 84, 85);
}

.containerServices h2{
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
}
.blocAbsolute{
    height: 415px;
    width: 350px;
    position: absolute;
    background-color: rgb(69, 84, 85);
    left: 0;
    top: 910;
}

.blocAbsolute2{
    height: 420px;
    width: 350px;
    position: absolute;
    background-color: rgb(69, 84, 85);
    left: 0;
    top: 2435;
}

#interior, #concept, #residential, #hospitaly{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: white;
}

.interior, .concept, .residential, .hospitaly{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
}

.interior:hover, .concept:hover, .residential:hover, .hospitaly:hover{
    cursor: pointer;
}
.containerInteriorDesign{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainerInteriorDesign{
    width: 70%;
    height: 70%;
}
.containerInterior{
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}
.subContainerInteriorDesign h2{
    margin-bottom: 15px;
}

.subContainerInteriorDesign p{
    color: rgb(182, 165, 165);

}
.buttonInterior{
    margin-top: 20px;
    padding: 20px;
    color: white;
    background-color: rgb(69, 84, 85);
    width: 150px;
    text-align: center;
}

.buttonInterior:hover{
    border: solid 1px rgb(69, 84, 85);
    background-color: transparent;
    color: rgb(69, 84, 85);
}
#section3{
    width: 100%;
    height: 100px;
    background-color: chocolate;
    display: flex;
    margin-bottom: 90px;
}

.emptyContainer{
    width: 40%;
    height: 100%;
    background-color: white;
}

.containerHouse{
    background-image: url(./img/bg_1.jpg);
    width: 100%;
    /* display: flex;
    justify-content: center;
    overflow: hidden; */
    /* position: relative; */
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.containerButton2{
    display: flex;
    width: 39%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    position: absolute;
}
.getStarted{
    color: white;
}
.containerGetStarted{
    background-color: coral;
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    /* padding: 25px; */
    align-items: center;
    /* position: relative; */
}

.buttonGetStarted{
    padding: 10px;
    min-width: 100px;
    height: 40px;
    background-color: white;
}
.buttonGetStarted:hover{
    border: solid 1px white;
    background-color: transparent;
    color: white;
}
#section4{
    width: 100%;
    height: 830px;
    display: grid;
    position: relative;
    margin-bottom: 90px;
    /*grid-template-columns: repeat(9, 1fr) ;*/
    /*grid-template-rows: repeat(12, 1fr);*/
    /*background-color: aqua;*/
    /*column-gap: 10px;*/
    /*row-gap: 10px;*/
}

#section4:nth-child(1){
}

.column{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio{
    height: 10%;
    width: 100%;
    margin-bottom: 40px;
}
.portfolio h2{
    text-transform: uppercase;
}

.portfolio p {
    color: rgb(182, 165, 165);

}

.firstImage{
    height: 380px;
    width: 100%;
    background-image: url(./img/image_3.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.6s ease-out;
}
.firstImage:hover .filterImage, .classicImage1:hover .filterImage, .classicImage2:hover .filterImage, .largeImage:hover .filterImage, .mediumImage:hover .filterImage, .lastImage:hover .filterImage, .classicImage3:hover .filterImage, .classicImage4:hover .filterImage{
    background-color: rgba(34, 12, 12, 0.3);
    width: 100%;
    height: 100%;
    position: relative;

}

.firstImage:after{
    background-color: black;
}

.descriptionImage{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;

}

.descriptionImageLast{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 360px;
}

.descriptionImage4{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 300px;
}
.classicImage1{
    height: 135px;
    width: 100%;
    background-size: cover;
    background-image: url(./img/image_2.jpg);
    background-position: center;
    transition: 0.6s ease-out;
}

/* .classicImage1:hover .filterImage{
    background-color: rgba(34, 12, 12, 0.8);
    width: 100%;
    height: 100%;
    animation-name: animeImage;
    animation-duration: 0.5s;
} */

.classicImage2{
    height: 135px;
    width: 100%;
    background-size: cover;
    background-image: url(./img/image_9.jpg);
    background-position: center;
    transition: 0.6s ease-out;

}




.containerLargeImage{
    width: 67%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    right: 0;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
}
.largeImage{
    height: 355px;
    width: 100%;
    background-image: url(./img/image_1.jpg);
    background-size: cover;
    background-position: center;
    /* background-size: 100%; */
    /* margin-bottom: 10px; */
    transition: 0.6s ease-out;

}
.containerClassic{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}
.classicImage3{
    height: 200px;
    width: 48%;
    background-size: cover;
    background-image: url(./img/image_5.jpg);
    background-position: center;
    transition: 0.6s ease-out;


}

.classicImage4{
    height: 200px;
    width: 48%;
    background-size: cover;
    background-image: url(./img/image_6.jpg);
    background-position: center;
    transition: 0.6s ease-out;

}

.containerLast{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-between;
}

/* .classicImage2{
    height: 20%;
    width: 50%;
    background-color:rgb(151, 125, 125)
} */

.mediumImage{
    height: 230px;
    width: 60%;
    background-image: url(./img/image_7.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.6s ease-out;



    
}

.lastImage{
    height: 230px;
    width: 35%;
    background-image: url(./img/image_4.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.6s ease-out;



}

#section5{
    width: 100%;
    height: 420px;
    display: flex;
    position: relative;
}
.containerClient{
    width: 40%;
    height: 100%;
    background-color: rgb(69, 84, 85);
    padding-right: 45px;
    color: white;
}

.containerClient h2{
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.containerComment{
    width: 57%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    overflow: hidden;
    right: 0;
    color: rgb(182, 165, 165);
    
}



.comment1, .comment2, .comment3{
    width: 48%;
    height: 100%;
    background-color: white;
    border: solid 1px rgb(216, 216, 216);
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation-name: effet;
    animation-duration: 1s;
}
.comment3{
    display: none;
}

.containerDot{
    width: 57%;
    height: 5%;
    position: absolute;
    bottom: 0px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot1, .dot2, .dot3{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
    border: solid 1px springgreen;
}

.guillemet{
    background-color: springgreen;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: 45px;
    top: 55px;
    background-image: url(./img/quotes_white.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.clientImage1{
    width: 80px;
    height: 80px;
    background-color: slateblue;
    border-radius: 50%;
    background-image: url(./img/person_2.jpg);
    background-size: cover;
    position: relative;
}

.clientImage2{
    width: 80px;
    height: 80px;
    background-color: slateblue;
    border-radius: 50%;
    background-image: url(./img/person_3.jpg);
    background-size: cover;
    position: relative;

}

.clientImage3{
    width: 80px;
    height: 80px;
    background-color: slateblue;
    border-radius: 50%;
    background-image: url(./img/person_1.jpg);
    background-size: cover;
    position: relative;

}

.containerImage{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.author{
    color: springgreen;
    position: absolute;
    bottom: 45px;
    /* background-position: center; */
}

.profession{
    position: absolute;
    bottom: 15px;
}
.containerSection6{
    width: 100%;
    background-color: rgb(240, 240, 240);
    min-height: 100px;
}

#section6{
    height: 480px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 240, 240);

}

.businessPlan{
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: white;
    position: relative;

}


.businessPlan p span{
    font-size: 2rem;
    color: grey;
}

.businessPlan h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

.businessPlan p {
    color: rgb(182, 165, 165);
    margin-bottom: 5px;
}

.containerImageBusiness{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.businessImage{
    width: 70px;
    height: 70px;
    background-image: url(./img/skyline.svg);
    background-size: cover;
}
.request{
    color: springgreen;
}
.businessPlan .button{
    background-color: rgb(69, 84, 85);
    color: white;
}

.businessPlan .button:hover{
    border: solid 1px rgb(69, 84, 85);
    color: rgb(69, 84, 85);
    background-color: transparent;
}

.containerButton{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;

}


.button{
    padding: 10px;
    min-width: 100px;
    height: 40px;
    background-color: white;
}

.footer{
    width: 100%;
    height: 380px;
    background-color: rgb(52, 44, 73);
    text-align: center;
    padding-top: 90px;
    font-family: Arial;
}

.containerIcons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;
}

.icon1, .icon2, .icon3{
    width: 40px;
    height: 40px;
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
    margin: 10px;
}

.icon1{
    background-image: url(./img/twitter.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.icon2{
    background-image: url(./img/facebook.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.icon3{
    background-image: url(./img/insta.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.contact{
    color: rgb(212, 212, 212);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.email{
    color: rgb(212, 212, 212);
    font-weight: bold;
}
.copyright{
    color: rgb(212, 212, 212)
}

.copyright span{
    color: red;
}

.triangle-code{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 5px solid transparent;
    border-bottom : 5px solid transparent;
    border-left : 10px solid rgb(69, 84, 85);
    position: absolute;
    left: 412px;
    opacity: 0;

}
.interior:hover .triangle-code, .concept:hover .triangle-code, .residential:hover .triangle-code, .hospitaly:hover .triangle-code{
    opacity: 1;
}
/* .concept:hover .triangle-code{
    opacity: 1;
} */

.firstImage:hover, .classicImage1:hover, .classicImage2:hover, .classicImage3:hover, .classicImage4:hover, .largeImage:hover, .mediumImage:hover, .lastImage:hover{
    transform: scale(1.2);
    transition: 0.6s ease-in;

}

.containerimg{
    overflow: hidden;
    position: relative;
}

.containerimgSingle{
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.containerimgSingle p{
    margin-bottom: 30px;
}

.containerArticle{
    display: flex;
    margin-bottom: 5px;
}

.containerSecondBloc{
    width: 425px;
}

.precedent, .suivant{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    margin-top: 50px;
}
.precedent:hover, .suivant:hover{
    transition: 0.6s;
    background-color: darkgrey;
    color: white;
}


.pagination{
    text-decoration: none;
    padding: 15px;
    color: black;
    margin-bottom: 50px;
    margin-top: 50px;

}
.pagination:hover{
    color: springgreen;
}

.pagination.active{
    text-decoration: underline;
    color: springgreen;
}

.containerPagination{
    display: flex;
    justify-content: center;
}

.titleImage{
    /*text-align: center;*/
    font-size: 3rem;
    margin-bottom: 10px;
}

.paragrapheArticle{
    text-align: left;
    padding-left: 15px;
}

.singleImage{
    width: 400px;
    height: 270px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerimg2{
    height: 100%;
    background-color: white;
    width: 42px;
    overflow: hidden;
    z-index: 4;

}

.containerHamburger{
    position: fixed;
    width: 40px;
    height: 19px;
    z-index: 6;
    right: 15px;
    top: 20px;
    cursor: pointer;
    /* box-shadow: rgb(7, 29, 51) 0px 0px 5px 3px; */

}

.hamburger{
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;

}
.secondLine, .thirdLine{
    width: 40px;
    height: 3px;
    background-color: rgb(52, 44, 73);
    margin-bottom: 5px;
    /* box-shadow: rgb(7, 29, 51) 0px 0px 5px 3px; */

}

.firstLine{
    transform: rotate(45);
    width: 40px;
    height: 3px;
    background-color: rgb(52, 44, 73);
    margin-bottom: 5px;

    /* box-shadow: rgb(7, 29, 51) 0px 0px 5px 3px; */

}


body{
    position: relative;
    counter-reset: lienmenu;
}

/* .containerMenu{
    position: fixed;
    top: 0;
} */
.menu{
    position: fixed;
    background-color: rgb(52, 44, 73);
    width: 50%;
    height: 610px;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 5;


    animation-name: menu;
    animation-duration: 0.5s;

    animation-name: menuOff;
}

.menu li::before {
    counter-increment: lienmenu;
    content: '0' counter(lienmenu);
    border-bottom: 1px solid grey;
    font-size: 0.7rem;
    margin-right: 2px;
}

.menu li, .menu a, .menu p{
    list-style: none;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}
.box{
    /*width: 100%;*/
    padding: 40px;
    text-align: center;
    width: 350px;
    margin: 0 auto;
}

.boxError{
    color: red;
    border: 1px solid red;
}

.boxValide{
    color: springgreen;
    border: 1px solid springgreen;


}

.validationMessage{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
}

.val{
    height: 15px;
    width: 100%;
}

.menu li a:hover{
    color: springgreen;
}
.menu .selected{
    color: springgreen;
}

label span {
    color: red;
}

.form{
    margin: 0 auto;
}

input{
    padding: 15px;
    border-radius: 0px;
    border: solid 1px darkgrey;
    width: 100%;
}
textarea{
    padding: 15px;
    border: solid 1px darkgrey;
    width: 100%;
}
.error{
    color: red;
    height: 20px;
    font-size: 0.8rem;
}
.formButton{
    border-radius: 0px;
    background-color: white;
    padding: 15px;
    border: 1px solid darkgrey;
    float: right;
    margin-bottom: 25px;
    cursor: pointer;
}

.formButton:hover{
    color: springgreen;

}

textarea{
    min-height: 200px;
}

.globalContainerServices{
    width: 65%;
    min-height: 500px;
    margin: 0 auto;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
}

.globalContainerServices h1{
    width: 100%;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 50px;
}
.containerHospitalyServices, .containerInteriorServices{
    width: 50%;
    background-color: rgb(69, 84, 85);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.containerText h2{
    font-size: 2.2rem;
    color: rgb(69, 84, 85);
}

.containerText{
    width: 50%;
    padding-left: 15px;
}
.containerText2{
    width: 50%;
    padding-right: 15px;
    text-align: right;
}

.containerText2 h2{
    font-size: 2.2rem;
    color: rgb(69, 84, 85);
    width: 100%;
}


.containerimgH, .containerimgI, .containerimgC, .containerimgR{
    width: 328px;
    height: 328px;
    background-repeat: no-repeat;
    background-position: center;
}
.about{
    font-size: 6rem;
    text-align: center;
}
.containerimgH{
    background-image: url(./img/skylineWhite.svg);
}

.containerimgI{
    background-image: url(./img/interiorWhite.svg);
}

.containerimgC{
    background-image: url(./img/ideasWhite.svg);
}
.containerimgR{
    background-image: url(./img/modern-houseWhite.svg);
}
.globalContainerContact{
    width: 65%;
    min-height: 500px;
    margin: 0 auto;
    font-family: arial;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.globalContainerContact h1{
    width: 100%;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 50px;
}

.globalAdmin{
    width: 80%;
    margin: 0 auto;
}

@keyframes effet {
    0% {
        transform: translate(600px, 0px);
    }
    100% {
        transform: translateX(0px, 0px);
    }

}

@keyframes menu{
    0% {
        transform: translate(650px, 0px);
    }
    100% {
        transform: translateX(0px, 0px);
    }
}

@keyframes menuOff{
    0% {
        transform: translateX(0px, 0px);
    }
    100% {
        transform: translate(650px, 0px);
    }
}

@keyframes animeImage{
    0%{
        transform: translateY(30px);
    }

    100%{
        transform: translateY(0px);
    }
}